/* CSS Document */
body,div,ul,li,dl,dt,dd {margin:0px auto;padding:0px;list-style:none;width:auto;height:auto;}
body {background:#E7E8EB;font-family:Microsoft Yahei}
.cls { clear:right}
.clsa { clear:left}


a:link,a:visited,a:active {color:#333333;text-decoration:none;}
a:hover {color:#666666;text-decoration:none;}




.top {border-top:4px solid #0078F0;height:61px;background:url(../images/topbak.gif); border-bottom:1px solid #F7F8F9;min-width:1200px}
.top_nrv {width:auto;width:1200px;min-width:1200px;height:61px;}
.logo {float:left;width:126px;height:60px;background:url(../images/logos.gif) no-repeat left;display:inline;font-size:20px;padding-left:111px;color:#878787;line-height:57px;}

.users {float:right;height:61px;width:260px;}
.user_name01 {float:left;height:31px;background:url(../images/user_01.gif) no-repeat 0px 4px;width:75px;padding-left:28px;display:block;margin-top:12px}
.user_name01 .user_class01 {padding:0px 1px 0px 1px;background:#AAAAAA;font-size:12px;color:#FFFFFF;display:inline}
.user_name01 .user_class02 {padding:0px 1px 0px 1px;background:#7CBAE5;font-size:12px;color:#FFFFFF;display:inline}
.user_name01 .user_nm {font-size:14px;color:#878787} 

.mail {float:left;width:26px;height:21px;background:url(../images/mail.gif) no-repeat 0px 0px;display:block;margin:22px auto 0px 0px;padding:0px; position:relative}
.mail_nb { position:absolute;left:14px;top:-8px;width:12px;height:12px;border-radius: 50%;-moz-border-radius: 50%;-webkit-border-radius: 50%;background:#FF4000;border:2px solid #FFFFFF;color:#FFFFFF;font-family:Arial;font-size:8px;text-align:center}

.login_out {float:left;width:40px;height:18px;padding-left:29px;line-height:18px;background:url(../images/login_out.gif) no-repeat left;font-size:14px;color:#999999;display:block;margin:20px 0px 0px 17px}

.nrv {width:auto;min-width:1200px;margin-top:20px}
.nrvs {width:1200px;border:1px solid #BFC2CA;background:url(../images/menu_line.gif) repeat-y left #FFFFFF;display:table}

.menus {float:left;width:220px;font-size:14px;padding-bottom:24px}
.menus ul {display:block;width:220px;margin-top:20px}
.menus ul li {display:block;width:168px;padding-left:21px;height:35px;line-height:35px;color:#AAAAAA;margin-left:31px}
.menus ul .mgn {background:url(../images/gongneng.gif) no-repeat left}
.menus ul .musr {background:url(../images/user.gif) no-repeat left}
.menus ul .msvr {background:url(../images/servers.gif) no-repeat left}
.menus ul .mset {background:url(../images/setup.gif) no-repeat left}

.menus ul a {display:block;width:168px;padding-left:52px;height:35px;line-height:35px;color:#777777; text-decoration:none}
.menus ul a:hover {background:#7CBAE5;color:#FFFFFF}
.menus ul .cur {background:#7CBAE5;color:#FFFFFF}

.neir {float:left;width:940px;padding:20px}

.function {float:left;height:163px;border:1px solid #58A9DE;background:#7CBAE5;width:718px}
.function a {float:left;text-decoration:none;display:inline}
.function .kfinc {margin-top:40px;margin-left:80px;border-right:1px solid #58A9DE;padding-right:69px}
.function .ad_kfinc {margin-top:40px;margin-left:90px;border-right:1px solid #58A9DE;padding-right:60px}
.function a dd {display:block;height:60px;font-size:46px;color:#FFFFFF;width:53px;line-height:60px}
.function a dt {height:21px;font-size:14px;color:#FFFFFF; text-align:center;display:block; font-weight:bold}
.function .suser_add {background:url(../images/user_add.gif) no-repeat left;}
.function .suser_sou {background:url(../images/user_sou.gif) no-repeat left;width:59px}
.function .suser_slist {background:url(../images/user_list.gif) no-repeat left;width:59px}
.function .suser_dban {background:url(../images/event.gif) no-repeat left;width:59px;padding-left:48px}
.function .suser_new {background:url(../images/user_new.gif) no-repeat left;padding-left:58px}

.web_message {float:right;width:198px;height:163px;background:#60D295;border:1px solid #47CB86}
.web_message a {display:block;width:100px;height:43px;background:url(../images/message.gif) no-repeat left;text-decoration:none;margin-top:54px;margin-left:51px}
.web_message a dd {display:block;height:43px;font-size:46px;color:#FFFFFF;width:53px;line-height:36px;padding-left:58px}
.web_message a dt {display:block;height:21px;font-size:14px;color:#FFFFFF; text-align:center;display:block;}


.line_title {float:left;margin-top:20px;width:940px;border-top:1px solid #BFC2CA;}
.line_title h1 {float:left;width:auto;height:65px;line-height:65px;font-size:18px;color:#333333;margin:0px auto;padding:0px; font-weight:normal}
.line_title span {float:left;width:auto;height:35px;line-height:35px;font-size:12px;color:#999999;margin:15px 0px 0px 30px;padding-left:20px;background:url(../images/zhuyi.gif) no-repeat left}

.bbs_title {float:left;margin-top:20px;width:940px;height:45px;border-bottom:1px solid #BFC2CA;}
.bbs_title h1 {float:left;width:auto;height:45px;line-height:45px;font-size:18px;color:#333333;margin:0px auto;padding:0px 15px 0px 15px; font-weight:normal;}
.bbs_title h1:hover {height:39px;line-height:39px; border-bottom:3px solid #0099FF;padding-top:3px}
.bbs_title .bst_cur {height:39px;line-height:39px; border-bottom:3px solid #0099FF;padding-top:3px}
.bbs_title span {float:left;width:auto;height:35px;line-height:35px;font-size:12px;color:#999999;margin:10px 0px 0px 30px;padding-left:20px;background:url(../images/zhuyi.gif) no-repeat left}

.tab_tops {float:left;margin-top:20px}
.tab_tops a {color:#0066FF}


/* 搜索部分 */
.search_user {float:left;width:940px;margin-top:20px}
.search_user dt {float:left;height:50px;width:110px;font-size:14px;color:#333333; text-align:right;line-height:50px}
.search_user dd {float:left;height:45px;width:auto;padding-top:5px;padding-left:5px;margin-right:20px;}
.search_user dd input {height:34px;line-height:34px;color:#666666;border:1px solid #DDDDDD;font-size:12px;padding-left:8px;background:#FFFFFF;-moz-border-radius: 3px;-webkit-border-radius: 3px;}
.search_user .sea_txt {line-height:45px;height:45px;font-size:14px;color:#CCCCCC}
/* 按钮 */
.entsss {float:left;width:940px;height:45px;margin-top:36px;}
.enters {float:left;width:130px;height:45px;line-height:45px;background:url(../images/enters.gif);font-size:14px;color:#FFFFFF; text-align:center;margin:0px 36px 0px 0px;border:none; cursor:pointer;}
.enters a{color:#FFFFFF}

/* 按钮样式 */
.senter {background:#F1F1F1;height:31px;line-height:31px;padding:0px 10px 0px 10px;font-size:14px;margin:0px 0px 0px 20px; cursor:pointer;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;color:#0066FF;display:inline-block}

/* 客服列表 */
.kf_ico {background:url(../images/kf_ico.gif) no-repeat left;padding-left:16px}
.zs_ico {background:url(../images/zs_ico.gif) no-repeat left;padding-left:16px}


.bottom {height:40px;line-height:40px;background:#999999;margin-top:20px;color:#FFFFFF;font-size:14px;}
.bottom span {width:1200px;display:block;margin:0px auto 0px auto}

/* 分頁 */

.page {float:left;width:740px;height:25px;margin:20px 0px 0px 20px;padding-top:1px;display:inline;font-size:12px;color:#999999; text-align:center}
.page span {padding:0px 10px 0px 10px;display:inline;margin-left:8px}
.page a {padding:2px 9px 2px 8px;display:inline;border:1px solid #C3C3C3;background:url(../images/back_all.gif) 0px  bottom #FFF;margin-left:8px}

/* 隐藏层部分 */
	.reveal-modal-bg { position: fixed; height: 100%; width: 100%; z-index: 100; display: none; top: 0; left: 0; background:rgba(00, 00, 00, 0.8) }
	
	.reveal-modal { visibility: hidden; top: 150px; left: 50%; margin-left: -300px; width: 970px; position: absolute; z-index: 101; padding: 20px 20px 20px; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; -moz-box-shadow: 0 0 10px rgba(0,0,0,.4); -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4); -box-shadow: 0 0 10px rgba(0,0,0,.4); background-color: #FFF; 		}
		
	.reveal-modal.small 		{ width: 200px; margin-left: -140px;}
	.reveal-modal.medium 		{ width: 400px; margin-left: -240px;}
	.reveal-modal.large 		{ width: 600px; margin-left: -340px;}
	.reveal-modal.xlarge 		{ width: 800px; margin-left: -440px;}
	.reveal-modal.examine 		{ width: 940px; margin-left: -540px;top:50px;padding:20px}
	
	.reveal-modal .close-reveal-modal { font-size: 22px; line-height: 0.5; position: absolute; top: 8px; right: 11px; color: #333; text-shadow: 0 -1px 1px rbga(0,0,0,.6); font-weight: bold; cursor: pointer;} 
	.close-reveal-modala {}
	.big-link {color:#0099FF}

/* 区域隐藏选择 */
.citys {border:1px solid #EAEAEA;background:url(../images/maps.gif) no-repeat right #FFFFFF;height:31px;line-height:31px;padding:0px 19px 0px 10px;float:left;font-size:14px;margin:5px 30px 0px 0px}
.quyus {border:1px solid #EAEAEA;background:url(../images/maps.gif) no-repeat right #FFFFFF;height:31px;line-height:31px;padding:0px 19px 0px 10px;float:left;font-size:14px;margin:5px 20px 0px 0px}
.hangye {border:1px solid #EAEAEA;background:url(../images/maps.gif) no-repeat right #FFFFFF;height:31px;line-height:31px;padding:0px 19px 0px 10px;float:left;font-size:14px;margin:5px 20px 0px 0px}
.zushou {border:1px solid #EAEAEA;#FFFFFF;height:31px;line-height:31px;padding:0px 10px 0px 10px;float:left;font-size:14px;margin:5px 20px 0px 0px}

.citye { position:absolute;left:8;top:40px;width:500px;height:auto;border:1px solid #C8DBE3;z-index:999;background:#FFFFFF;padding:15px;}
.citye ul {float:left;width:500px;height:auto; border-bottom:1px dotted #EAEAEA}



.quyusa { position:absolute;left:94px;top:40px;width:500px;height:auto;border:1px solid #EAEAEA;border-top:none;z-index:999;background:url(../images/liness.gif) no-repeat left top #FFFFFF;padding:15px;}
.quyusa ul {float:left;width:500px;height:auto; border-bottom:1px dotted #EAEAEA}
.hangyea { position:absolute;left:5px;top:40px;width:500px;height:auto;border:1px solid #C8DBE3;z-index:999;background:#FFFFFF;padding:15px;}
.citye li {float:left;height:35px;line-height:35px;margin-right:10px;font-size:13px;color:#666666}
.quyusa li {float:left;height:35px;line-height:35px;margin-right:10px;font-size:13px;color:#666666}
.hangyea li {float:left;height:35px;line-height:35px;margin-right:10px;font-size:13px;color:#666666}

/* 条件部分 */
.tiaoja {float:left;width:918px;padding:10px;border:1px solid #F0F0F0;background:#F9F9F9;margin:20px 0px 20px 0px}
.tiaoja a {display:inline-table;padding:5px 20px 5px 8px;font-size:14px;color:#666666;background:url(../images/tj_close.gif) no-repeat right center #D2EEF7;border:1px solid #92D2EB;margin:0px 15px 0px 8px;}

/* 报表文字 */
.table_txts {float:left;width:918px;padding:10px;border:1px solid #F0F0F0;background:#F9F9F9;margin:20px 0px 20px 0px;font-size:14px;color:#333333;line-height:40px}

/* 搜索条件文字点击后效果 */
.zushou_01 {border:1px solid #92D2EB;background:#D2EEF7;height:31px;line-height:31px;padding:0px 10px 0px 10px;float:left;font-size:14px;margin:5px 20px 0px 0px;color:#666666}


/* 输入框样式 */
.shuru {height:24px;line-height:24px;color:#666666;border:1px solid #CCCCCC;font-size:12px;padding-left:8px;background:#FFFFFF;-moz-border-radius: 3px;-webkit-border-radius: 3px;}

/* 客服组列表 */

.kfzlist {width:940px;float:left;margin-top:20px; border:1px solid #BFC2CA; border-bottom:none;background:url(../images/table_bot.gif) bottom repeat-x}
.kfzlist ul {width:940px;float:left;list-style:none}
.kfzlist li {width:31.2%;float:left;height:41px;font-size:12px; border-bottom:1px solid #BFC2CA;line-height:41px;padding-left:20px}

.kfzlist .kflsa {width:940px;float:left;list-style:none}
.kfzlist .kflsa li {width:168px;float:left;height:41px;font-size:12px; border-bottom:1px solid #BFC2CA;line-height:41px;padding-left:20px}

/* begin 景艳磊 */
.red{color: #f00}
.tab_tops .tableRegion {border:1px solid #BFC2CA;border-collapse:collapse;font-family:微软雅黑;font-size:14px}
.tab_tops .tableRegion  tr, .tab_tops .tableRegion  tr td {border:1px solid #BFC2CA;border-left:none;border-right:none;border-collapse:collapse;text-align: center; height: 40px}
.tab_tops .tableRegion .tableHeader {background: #F8F8F8}
.tab_tops .tableRegion table, .tab_tops .tableRegion table tr, .tab_tops .tableRegion table tr td {border:0}
.tab_tops .tableRegion .pageNum, .tab_tops .tableRegion .currentNum{padding: 2px 9px 2px 8px;display: inline;border: 1px solid #C3C3C3;background: url("../images/back_all.gif") repeat scroll 0px bottom #FFF;margin-left: 8px;}
.tab_tops .tableRegion .currentNum {color:red}
.compactToolbar {text-align: center; }
.search_user input[type=checkbox] {display:none}
.search_user a. .search_user label {cursor:pointer;}
a.checked, .checked {display:inline-table;color:#666666;background:#D2EEF7;border:1px solid #92D2EB}
/* end 景艳磊 */