<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="SecPrivilegeUserRole">

    <resultMap id="SecPrivilegeUserRoleResult"
        type="com.uk.sec.privilege.framework.privilege.model.SecPrivilegeUserRole">
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="secPrivilegeUserRoleColumns">
        <![CDATA[
            SEC_PRIVILEGE_USER_ROLE.LOGIN_ID as loginId,
            SEC_PRIVILEGE_USER_ROLE.ROLE_ID as roleId,
            SEC_PRIVILEGE_USER_ROLE.USER_ROLE_ID as userRoleId
        ]]>
    </sql>

    <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="insert"
        parameterType="com.uk.sec.privilege.framework.privilege.model.SecPrivilegeUserRole">
        <selectKey resultType="java.lang.String" order="BEFORE"
            keyProperty="userRoleId">
            SELECT sys_guid() AS USER_ROLE_ID FROM DUAL
        </selectKey>
        <![CDATA[
        INSERT INTO
        SEC_PRIVILEGE_USER_ROLE (
            LOGIN_ID ,
            ROLE_ID ,
            USER_ROLE_ID
        ) VALUES (
            #{loginId,jdbcType=VARCHAR} ,
            #{roleId,jdbcType=VARCHAR} ,
            #{userRoleId,jdbcType=VARCHAR}
        )
    ]]>
        <!--
            oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL
            DB2: order="BEFORE"" values nextval for sequenceName
            <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
            SELECT sequenceName.nextval AS ID FROM DUAL
            </selectKey>
        -->
    </insert>

    <update id="update"
        parameterType="com.uk.sec.privilege.framework.privilege.model.SecPrivilegeUserRole">
        <![CDATA[
        UPDATE SEC_PRIVILEGE_USER_ROLE SET
            LOGIN_ID = #{loginId,jdbcType=VARCHAR} ,
            ROLE_ID = #{roleId,jdbcType=VARCHAR}
        WHERE
            USER_ROLE_ID = #{userRoleId}
    ]]>
    </update>

    <delete id="delete" parameterType="java.lang.String">
        <![CDATA[
        delete from SEC_PRIVILEGE_USER_ROLE where
        USER_ROLE_ID = #{id}
    ]]>
    </delete>

    <delete id="deleteUserAndRole" parameterType="com.uk.sec.privilege.framework.privilege.model.SecPrivilegeUserRole">
        delete from SEC_PRIVILEGE_USER_ROLE
        <include refid="secPrivilegeUserRoleDynamicWhere" />
    </delete>

    <select id="getById" parameterType="java.lang.String"
        resultMap="SecPrivilegeUserRoleResult">
        select
        <include refid="secPrivilegeUserRoleColumns" />
        <![CDATA[
            from SEC_PRIVILEGE_USER_ROLE
            where
                USER_ROLE_ID = #{id}
        ]]>
    </select>

    <sql id="secPrivilegeUserRoleDynamicWhere">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <where>
            <if
                test="@Ognl@isNotBlank(loginId)">
                and SEC_PRIVILEGE_USER_ROLE.LOGIN_ID = #{loginId}            </if>
            <if
                test="@Ognl@isNotBlank(roleId)">
                and SEC_PRIVILEGE_USER_ROLE.ROLE_ID = #{roleId}            </if>
            <if
                test="@Ognl@isNotBlank(userRoleId)">
                and SEC_PRIVILEGE_USER_ROLE.USER_ROLE_ID = #{userRoleId}            </if>
        </where>
    </sql>

    <select id="count" resultType="long">
        select count(*) from SEC_PRIVILEGE_USER_ROLE
        <include refid="secPrivilegeUserRoleDynamicWhere" />
    </select>

    <!--
        分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
        因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="pageSelect" resultMap="SecPrivilegeUserRoleResult">
        select
        <include refid="secPrivilegeUserRoleColumns" />
        from SEC_PRIVILEGE_USER_ROLE
        <include refid="secPrivilegeUserRoleDynamicWhere" />
        <if test="@Ognl@isNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>

    <select id="findAll"
        parameterType="com.uk.sec.privilege.framework.privilege.model.SecPrivilegeUserRole"
        resultMap="SecPrivilegeUserRoleResult">
        select
        <include refid="secPrivilegeUserRoleColumns" />
        from SEC_PRIVILEGE_USER_ROLE
        <include refid="secPrivilegeUserRoleDynamicWhere" />
    </select>

    <select id="findAllByMap"
        resultMap="SecPrivilegeUserRoleResult">
        select
        <include refid="secPrivilegeUserRoleColumns" />
        from SEC_PRIVILEGE_USER_ROLE
        <include refid="secPrivilegeUserRoleDynamicWhere" />
    </select>
</mapper>
