<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SecSysRulevalue">

    <resultMap id="SecSysRulevalueResult"
        type="com.uk.sec.framework.system.model.SecSysRulevalue">
        <result property="id" column="id"/>
        <result property="ruleKeyvalue" column="ruleKeyvalue"/>
        <result property="seqCurrentvalue" column="seqCurrentvalue"/>
        <result property="ruleId" column="ruleId"/>
    </resultMap>

    <!-- 用于select查询公用抽取的列 -->
    <sql id="secSysRulevalueColumns">
        <![CDATA[
            SEC_SYS_RULEVALUE.ID as id,
            SEC_SYS_RULEVALUE.RULE_KEYVALUE as ruleKeyvalue,
            SEC_SYS_RULEVALUE.SEQ_CURRENTVALUE as seqCurrentvalue,
            SEC_SYS_RULEVALUE.RULE_ID as ruleId
        ]]>
    </sql>

    <!-- useGeneratedKeys="true" keyProperty="xxx" for sqlserver and mysql -->
    <insert id="insert"
        parameterType="com.uk.sec.framework.system.model.SecSysRulevalue">
        <selectKey resultType="java.lang.String" order="BEFORE"
            keyProperty="id">
            SELECT sys_guid() AS ID FROM DUAL
        </selectKey>
        <![CDATA[
        INSERT INTO
        SEC_SYS_RULEVALUE (
            ID ,
            RULE_KEYVALUE ,
            SEQ_CURRENTVALUE ,
            RULE_ID 
        ) VALUES (
            #{id,jdbcType=VARCHAR} ,
            #{ruleKeyvalue,jdbcType=VARCHAR} ,
            #{seqCurrentvalue,jdbcType=DECIMAL} ,
            #{ruleId,jdbcType=VARCHAR} 
        )
    ]]>
        <!--
            oracle: order="BEFORE" SELECT sequenceName.nextval AS ID FROM DUAL
            DB2: order="BEFORE"" values nextval for sequenceName
            <selectKey resultType="java.lang.Long" order="BEFORE" keyProperty="userId">
            SELECT sequenceName.nextval AS ID FROM DUAL
            </selectKey>
        -->
    </insert>

    <update id="update"
        parameterType="com.uk.sec.framework.system.model.SecSysRulevalue">
        <![CDATA[
        UPDATE SEC_SYS_RULEVALUE SET
            RULE_KEYVALUE = #{ruleKeyvalue,jdbcType=VARCHAR} ,
            SEQ_CURRENTVALUE = #{seqCurrentvalue,jdbcType=DECIMAL} ,
            RULE_ID = #{ruleId,jdbcType=VARCHAR} 
        WHERE
            ID = #{id} 
    ]]>
    </update>

    <delete id="delete" parameterType="java.lang.String">
        <![CDATA[
        delete from SEC_SYS_RULEVALUE where
        ID = #{id} 
    ]]>
    </delete>

    <select id="getById" parameterType="java.lang.String"
        resultMap="SecSysRulevalueResult">
        select
        <include refid="secSysRulevalueColumns" />
        <![CDATA[
            from SEC_SYS_RULEVALUE
            where
                ID = #{id} 
        ]]>
    </select>

    <sql id="secSysRulevalueDynamicWhere">
        <!-- ognl访问静态方法的表达式 为@class@method(args),以下为调用rapid中的Ognl.isNotEmpty()方法,还有其它方法如isNotBlank()可以使用，具体请查看Ognl类 -->
        <where>
            <if
                test="@Ognl@isNotBlank(id)">
                and SEC_SYS_RULEVALUE.ID = #{id}            </if>
            <if
                test="@Ognl@isNotBlank(ruleKeyvalue)">
                and SEC_SYS_RULEVALUE.RULE_KEYVALUE = #{ruleKeyvalue}            </if>
            <if
                test="@Ognl@isNotBlank(seqCurrentvalue)">
                and SEC_SYS_RULEVALUE.SEQ_CURRENTVALUE = #{seqCurrentvalue}            </if>
            <if
                test="@Ognl@isNotBlank(ruleId)">
                and SEC_SYS_RULEVALUE.RULE_ID = #{ruleId}            </if>
        </where>
    </sql>

    <select id="count" resultType="long">
        select count(*) from SEC_SYS_RULEVALUE
        <include refid="secSysRulevalueDynamicWhere" />
    </select>

    <!--
        分页查询已经使用Dialect进行分页,也可以不使用Dialect直接编写分页
        因为分页查询将传 offset,pageSize,lastRows 三个参数,不同的数据库可以根于此三个参数属性应用不同的分页实现
    -->
    <select id="pageSelect" resultMap="SecSysRulevalueResult">
        select
        <include refid="secSysRulevalueColumns" />
        from SEC_SYS_RULEVALUE
        <include refid="secSysRulevalueDynamicWhere" />
        <if test="@Ognl@isNotEmpty(sortColumns)">
            ORDER BY ${sortColumns}
        </if>
    </select>

    <select id="findAll"
        parameterType="com.uk.sec.framework.system.model.SecSysRulevalue"
        resultMap="SecSysRulevalueResult">
        select
        <include refid="secSysRulevalueColumns" />
        from SEC_SYS_RULEVALUE
        <include refid="secSysRulevalueDynamicWhere" />
    </select>
    
    <select id="findAllByMap"
        resultMap="SecSysRulevalueResult">
        select
        <include refid="secSysRulevalueColumns" />
        from SEC_SYS_RULEVALUE
        <include refid="secSysRulevalueDynamicWhere" />
    </select>
</mapper>
